<template>
  <div>
    name: <input type='text' v-model='textname' @keyup.enter='addTodo' />
    <button @click='addTodo()'>enter</button> <br />
  </div>
</template>

<script>
import store from '../vuex/store'
export default {
  methods: {
    addTodo () {
      store.commit('addText', this.textname)
    }
  },
  data () {
    return {
      textname: ''
    }
  },
  computed: {
  }
}
</script>
