<template>
  <div>
      <button @click='addNum()'>plus</button> <br />
      </div>
</template>

<script>
import store from '../vuex/store'
import Vuex from 'vuex'
global.vuex = Vuex
export default {
  store,
  methods: {
    addNum () {
      store.commit('addNum', 5)
    }
  }
}
</script>
