<template>
  <div>
    <div v-for='show in todos' :key='show.id'>
      <h1>{{ show.name }}</h1>
    </div>
  </div>
</template>

<script>
import store from '../vuex/store'
import Vuex from 'vuex'
global.vuex = Vuex
export default {
  store,
  methods: {
  },
  data () {
    return {}
  },
  computed: {
    todos () {
      return store.state.todos
    }
  }
}
</script>
