 /* eslint-disable */
<template>
  <div id='app'>
    <Display/>
    <ShowName/>
    <br>
    <hr>
    <h1> {{ number }} </h1> <br>
    <Inc/>
  </div>
</template>

<script>
import Display from './components/Display'
import ShowName from './components/ShowName'
import HelloWorld from './components/HelloWorld'
import Inc from './components/Inc'
import store from './vuex/store'
import Vuex from 'vuex'
import parthfy from './vuex/pathify'
export default {
  store,
  parthfy,
  name: 'app',
  components: {
    Display,
    Inc,
    ShowName,
    HelloWorld
  },
  methods: {
  },
  data () {
    return {
    }
  },
  computed: {
    number () {
      return store.state.number
    }
  },
  mounted () {}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
